<!DOCTYPE html>
<html lang="ko">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container" style="margin-top: 90px">
        <div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-borderless" style="">
					<tr>
						<td style="text-align: right;">아이디</td>
						<td>${result.uid}</td>
					</tr>
					<tr>
						<td style="text-align: right;">이름</td>
						<td>${result.uname}</td>
					</tr>
					<tr>
						<td style="text-align: right;">전화번호</td>
						<td>${result.tel}</td>
					</tr>
					<tr>
						<td style="text-align: right;">이메일</td>
						<td>${result.email}</td>
					</tr>
					<tr>
						<td style="text-align: right;">가입일</td>
						<td>${result.regDate}</td>
					</tr>
					<tr>
						<td style="text-align: right;">탈퇴현황</td>
						<td>${result.isDeleted===0? ' ':'탈퇴'}</td>
					</tr>
				</table> 
			</div>
			<div class="col-1"></div>
		</div>
	</div>
	
</body>

</html>